<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/svioglasi">Pogledaj sve oglase</a>
        <a href="/dodajoglas">Dodaj oglas</a>
    </nav>
    <form action="/snimioglas" method="POST">
        <select name="kategorija" id="kategorija">
            <option value="Automobil">Automobil</option>
            <option value="Stan">Stan</option>
            <option value="Alat">Alat</option>
        </select>
        <br>
        <input type="text" name="datum">
        <br>
        <input type="text" name="cena">
        <br>
        <input type="text" name="tekst">
        <br>
        <input type="text" name="oznaka">
        <br>
        <input type="email" name="email">
        <br>
        <button type="submit">Dodaj oglas</button>
    </form>
</body>
</html>